@{
     Layout = "_Layout";
}

@section Styles 
{
    <link rel="stylesheet" href="~/css/Credentials.css" asp-append-version="true" />
}

@using AspNetCore.ReCaptcha;
@Html.ReCaptcha();

<div class="container">
    <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center height-column" style="flex-direction: column;">
            <h2 id="CreditentialsHeader">Podaj swoje dane</h2>
            <div class="border-input-group">
                <label class="form-label">Imię*</label>
                <input type="text" class="form-control border-input" placeholder="Wpisz swoje imię..."/>
            </div>
            <div class="border-input-group">
                <label class="form-label">Nazwisko*</label>
                <input type="text" class="form-control border-input" placeholder="Wpisz swoje nazwisko..."/>
            </div>
            <button id="SubmitCreditentialsButton" class="icon-button">
                <i class="fa-solid fa-circle-play"></i> Rozpocznij Pracę
            </button>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center height-column">
            <img src="~/images/test-svg.svg" alt="-" class="test-img"/>
        </div>
    </div>
</div>
<div class="modal fade site-modal" tabindex="-1" id="ErrorModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Coś poszło nie tak!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Imię lub nazwisko nie zawiera żadnej wartości! Pole zawierające imię oraz nazwisko są obowiązkowe, więc żadne z nich nie może być puste. Uzupełnij je i spróbuj ponownie.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    <script src="~/js/Credentials.js"></script>
}
