.border-input {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 1.15vw;
    padding: 1.25vh 2vw;
    background-color: white;
    color: var(--black-alternative);
    border-radius: 20px;
}

.border-input-group {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.border-input-group label {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.4vw;
    color: var(--black-alternative);
}

.test-img {
    height: auto;
    width: 100%;
    margin-bottom: 5vh;
}

.icon-button {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.25vw;
    color: white;
    background-color: #6C63FF;
    padding: 1.5vh 2vw;
    border-radius: 18px;
    transition: all 0.5s ease;
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 8.5vh;
    border: none;
    width: 80%;
    box-shadow: none;
}

.icon-button:hover {
    background-color: white;
    color: #6C63FF;
    -webkit-box-shadow: 0px 2px 7px 0px rgb(182, 182, 186);
    -moz-box-shadow: 0px 2px 7px 0px rgb(182, 182, 186);
    box-shadow: 0px 2px 7px 0px rgb(182, 182, 186);
}

.icon-button i {
    margin-right: 0.4vw;
    position: relative;
    top: 0.5px;
}

#CreditentialsHeader {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 2.25vw;
    color: var(--black-alternative);
    cursor: default;
    margin-bottom: 3vh;
    margin-top: 2vh;
}

.height-column {
    min-height: 80vh;
}